.dark {
  background-color: #000;
}

.light {
  background-color: #fff;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

h2 {
  margin-top: 50px;
}

.dark .card,
.blue .card {
  color: #000;
  background-color: #fff;
}

.light .card {
  color: #fff;
  background-color: #000;
}

.red .card {
  color: blue;
  background-color: red;
}

section {
  background-color: var(--bg);
  padding: 60px 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  padding: 20px;
  color: var(--color1);
  background-color: var(--bg);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  height: 100%;
  width: 100%;
}