@import url("./common.css");
.navigation {
  background-color: var(--lightpeach);
}
.navigationInner {
  display: flex;
  align-items: center;
}
.logo {
  text-shadow: -1px -1px 0 var(--royal-blue), -17px 13px 0 var(--peach),
    1px -1px 0 var(--peach), 17px 5px 0 var(--royal-blue);
  font-size: var(--fs40);
  font-weight: 600;
  color: transparent;
}

.navigationLinks ul {
  display: flex;
  align-items: center;
}
